/*
** Markup free clearing
** Details: http://www.positioniseverything.net/easyclearing.html
*/
.clear-block:after {
  content: ".";
  display: block;
  height: 0;
  clear: both;
  visibility: hidden;
}

.clear-block {
  display: inline-block;
}

/* Hides from IE-mac \*/
* html .clear-block {
  height: 1%;
}

.clear-block {
  display: block;
}
/* End hide from IE-mac */

.hidden {
  display: none;
}

.container {
  max-width: 900px;
  min-width: 750px;
}

.container .right,
.container .left {
  float:left;
  width: 450px;
  min-width: 350px;
}
